* {
    margin: 0;
    padding: 0;
    /* outline: 1px solid black; */
}
.row{
    line-height: 0;
    display: block;
}
.wall {
    background-color: blue;
    height: 4%;
    width: 4%;
    display: inline-block;
}
.blank {
    background-color: black;
    height: 4%;
    width: 4%;
    display: inline-block;
}
.sushi {
    background-color: black;
    height: 32px;
    width: 32px;
    display: inline-block;
    background-image: url('sushi.png');
    background-size: contain;
    background-repeat: no-repeat;
}
#ninjaman {
    background-color: black;
    height: 32px;
    width: 32px;
    display: inline-block;
    background-image: url('ninja.gif');
    background-size: 90%;
    background-repeat: no-repeat;
    position: absolute;
    left: 32px;
    top: 32px;
}
#score { 
    color: white;
    background-color: black;
    display: inline-block;

}
#lives { 
    color: white;
    background-color: black;
    display: inline-block;

}
#gameover { 
    color: white;
    background-color: black;
    display: inline-block;

}
.onigiri {
    background-color: black;
    height: 32px;
    width: 32px;
    display: inline-block;
    background-image: url('onigiri.png');
    background-size: contain; 
    background-repeat: no-repeat;
}

.pumpkin_0 {
    background-color: black;
    height: 32px;
    width: 32px;
    display: inline-block;
    background-image: url('pumpky.gif');
    background-size: 90%;
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    top: 50%;
}
.pumpkin_1 {
    background-color: black;
    height: 32px;
    width: 32px;
    display: inline-block;
    background-image: url('pinky.gif');
    background-size: 90%;
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    top: 50%;
}
.pumpkin_2 {
    background-color: black;
    height: 32px;
    width: 32px;
    display: inline-block;
    background-image: url('scaredy.png');
    background-size: 90%;
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    top: 50%;
}
#world{
    display: inline-block;
    width: 800px;
    height: 800px;
}
#scoreboard{
    display: inline-block;
    vertical-align: top;
    background-color: black;
}
#pumpkins{
    display: inline;
}
#my_name{
    color: white;
}

.name{
    color: white;
}
.home{
    background-color: black;
    height: 4%;
    width: 4%;
    display: inline-block;
}
.door{
    background-color: black;
    border-top: 3px solid blue;
    height: 29px;
    width: 4%;
    display: inline-block;
}
#counter{
    position: absolute;
    top: 250px;
    left: 365px;
    color: yellow;
    font-size: 60px;

.move-btn{
    font-size: 48px;
    padding: 20px;
    touch-action: manipulation;
}

#container{
    touch-action: manipulation;
}