* {
    margin: 0;
    padding: 0;
    /* outline: 1px solid black; */
}
.row{
    line-height: 0;
    display: block;
    touch-action: manipulation;
}
.wall {
    background-color: blue;
    height: 4%;
    width: 4%;
    display: inline-block;
    touch-action: manipulation;
}
.blank {
    background-color: black;
    height: 4%;
    width: 4%;
    display: inline-block;
    touch-action: manipulation;
}
.sushi {
    background-color: black;
    height: 32px;
    width: 32px;
    display: inline-block;
    background-image: url('sushi.png');
    background-size: contain;
    background-repeat: no-repeat;
    touch-action: manipulation;
}
#ninjaman {
    background-color: black;
    height: 32px;
    width: 32px;
    display: inline-block;
    background-image: url('ninja.gif');
    background-size: 90%;
    background-repeat: no-repeat;
    position: absolute;
    left: 32px;
    top: 32px;
    touch-action: manipulation;
}
#score { 
    background-color: black;
    display: inline-block;
    touch-action: manipulation;
}
#lives { 
    background-color: black;
    display: inline-block;
    touch-action: manipulation;
}
#gameover { 
    background-color: black;
    display: inline-block;
    touch-action: manipulation;
}
.onigiri {
    background-color: black;
    height: 32px;
    width: 32px;
    display: inline-block;
    background-image: url('onigiri.png');
    background-size: contain; 
    background-repeat: no-repeat;
    touch-action: manipulation;
}

.pumpkin_0 {
    background-color: black;
    height: 32px;
    width: 32px;
    display: inline-block;
    background-image: url('pumpky.gif');
    background-size: 90%;
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    top: 50%;
    touch-action: manipulation;
}
.pumpkin_1 {
    background-color: black;
    height: 32px;
    width: 32px;
    display: inline-block;
    background-image: url('pinky.gif');
    background-size: 90%;
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    top: 50%;
    touch-action: manipulation;
}
.pumpkin_2 {
    background-color: black;
    height: 32px;
    width: 32px;
    display: inline-block;
    background-image: url('scaredy.png');
    background-size: 90%;
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    top: 50%;
    touch-action: manipulation;
}
#world{
    display: inline-block;
    width: 800px;
    height: 800px;
    touch-action: manipulation;
}
#scoreboard{
    max-height: 140px;
    width: 300px;
    display: inline-block;
    vertical-align: top;
    background-color: black;
    touch-action: manipulation;
}
#total-score{
    display: inline-block;
    width: 300px;
    overflow: scroll;
}
#pumpkins{
    display: inline;
    touch-action: manipulation;
}
#my_score{
    display: inline-block;
    width: 300px;
    color: lightgreen;
    border: 2px solid lightgreen;
    margin-bottom: 2%;
    touch-action: manipulation;
}
#my_name{
    overflow: hidden;
}
.name{
    color: white;
    touch-action: manipulation;
}
.home{
    background-color: black;
    height: 4%;
    width: 4%;
    display: inline-block;
    touch-action: manipulation;
}
.door{
    background-color: black;
    border-top: 3px solid blue;
    height: 29px;
    width: 4%;
    display: inline-block;
    touch-action: manipulation;
}
#counter{
    position: absolute;
    top: 250px;
    left: 365px;
    color: yellow;
    font-size: 60px;
    touch-action: manipulation;
}

.move-btn{
    font-size: 48px;
    padding: 50px;
    border-radius: 20%;
    touch-action: manipulation;
}

#container{
    touch-action: manipulation;
}

#total-score{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    background-color: black;
    touch-action: manipulation;
}

#logout{
    vertical-align: top;
    margin-left: 2%;
    padding: 1%;
    background-color: red;
    border-color: red;
    border-radius: 8%;
    font-weight: bold;
    color: white;
    touch-action: manipulation;
}

#up_btn, #down_btn, #right_btn, #left_btn{
    touch-action: manipulation;
}

#up_btn, #down_btn{
    margin: 0px auto;
}

#d-pad{
    margin: 10px auto;
    width: 50%;
    padding: 10px;
    touch-action: manipulation;
    text-align: center;
}

@media only screen and (max-width: 480px) {
    *{
        touch-action: manipulation;
    }
    #container{
        touch-action: manipulation;
        height: 100%;
        margin-bottom: 0px;
    }
    #d-pad{
        display: block;
        touch-action: manipulation;
    }
    .move-btn{
        touch-action: manipulation;
    }
    #logout{
        padding: 20px;
    }
}

@media only screen and (min-width: 481px) {
    *{
        touch-action: manipulation;
    }
    #container{
        touch-action: manipulation;
        height: 100%;
        margin-bottom: 0px;
    }
    #d-pad{
        display: block;
        touch-action: manipulation;
    }
    .move-btn{
        touch-action: manipulation;
    }
    #logout{
        padding: 20px;
    }
}

@media only screen and (min-width: 1024px) {
    #d-pad{
        display: none;
    }
    #logout{
        padding: 1%;
    }
}

